.sidebar-calendar-container {
    width: 100%;
    padding: 0.5rem;
}
.react-calendar {
    border: none;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #f8f9fa;
    color: black;
}

.react-calendar.dark-theme {
    background-color: #1e1e1e;
    color: white;
}

/* Навигация: фон и цвят според темата */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    background-color: inherit; /* Наследява цвета на родителя */
    color: inherit; /* Наследява цвета на родителя */
    border-bottom: 1px solid #ccc;
}

.react-calendar.dark-theme .react-calendar__navigation {
    background-color: #2a2a2a; /* тъмен фон за навигацията */
    border-bottom: 1px solid #444;
}

/* Текст месец + година */
.react-calendar__navigation__label {
    color: inherit;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Седмични дни */
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem;
    color: #70757a;
}

.react-calendar.dark-theme .react-calendar__month-view__weekdays {
    color: #ccc;
}

/* Дни */
.react-calendar__tile {
    height: 25px;
    text-align: center;
    color: inherit;
}

/* Днес */
.react-calendar__tile--now {
    background: #1a73e8 !important;
    color: white !important;
    border-radius: 50%;
}

.react-calendar.dark-theme .react-calendar__tile--now {
    background: #3c82f6 !important;
    color: white !important;
}

/* Избран ден */
.react-calendar__tile--active {
    background: #185abc !important;
    color: white !important;
    border-radius: 50%;
}

.react-calendar.dark-theme .react-calendar__tile--active {
    background: #185abc !important;
    color: white !important;
}

.react-calendar__navigation {
    display: none !important;
}
